body {
	background: #ffffff;
	/*color: #586369;*/
	font-family: Arial, sans-serif;
	font-size: 12px;
	margin: 0px;
}

h2,
h3 {
	color: #ff8aed;
	font-family: Arial, sans-serif;
	font-size: 22px;
}

a {
	color: #3a6585;
}

a:hover{
	color: purple;
}

header, footer{
	background-color: #872687;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#872687), to(#3d0d3d));
	background-image: -webkit-linear-gradient(top, #872687, #3d0d3d);
	background-image:    -moz-linear-gradient(top, #872687, #3d0d3d);
	background-image:      -o-linear-gradient(top, #872687, #3d0d3d);
	background-image:         linear-gradient(to bottom, #872687, #3d0d3d);
	color: #ff8aed;
}


.imag{  
    background-clip: padding-box;
    border-radius: 12px; 
    box-shadow: 12px 15px 40px 0px #851681;

	-webkit-border-radius: 12px;
	-webkit-box-shadow: 12px 15px 40px 0px #851681;
}

footer h2{
	font-size: 16px;
	padding: 10px;
}


label {
	display:inline-block;
	width:100px;
}


nav {
	float: right;
	font-family: 'GoodDogRegular', Arial, sans-serif;
	padding-top: 20px;
}

nav ul {
	font-size: 14px;
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline;
	font-size: 20px;
	margin-left: 44px;
	position: relative;
}

nav li:first-child {
	margin-left: 0;
}

nav a {
	color: #ff8aed;
	text-decoration: none;
}

p{
	font-size: 18px;
}

.columnas{
	column-count:2;
	text-align: justify;

	-moz-column-count:2;
	-webkit-column-count:2; 
}

.columnas img{
	max-width: 80%;
}

.contenedor {
	margin: 0 auto;
	width: 940px;
}

.contenedor h1 {
	float: left;
}

.clear {
	clear: both;
}

#formulario {
	font-size: 18px;
	margin-left:40px;
}

#formulario p {
	font-size: 16px;
}

#map_canvas{
	border-radius: 12px;
	border: 20px solid rgba(199, 141, 214, .3);
	height: 315px;
	width: 500px;
	-webkit-box-shadow: 5px 3px 31px 2px #fbebff;
          box-shadow: 5px 3px 31px 2px #fbebff;
}

#map_canvas img{
	height: 315px;
	background-color: rgb(229, 227, 223);
	overflow: hidden;
	position: relative;
	width: 500px
}

/* Ahora usando las clases de modernizr para el caso de las columnas y el boxshadow en el caso de que el navegador sea viejo*/
.no-boxshadow img {
	margin-left: 160px;
   	border: #851681 6px solid;
}


/*Ajustes para los tipos de viewport*/

@media only screen and (max-width: 970px) {
	#ejemplos h1, nav{
		float: none;
		margin-top: 0px;
		padding: 0px;
		text-align: center;
	}

	.contenedor {
		width: auto;
	}

}

@media only screen and (max-width: 970px) {
	.columnas{
		column-count:1;

		-moz-column-count:1;
		-webkit-column-count:1;
	}

	#map_canvas, #map_canvas img{
		width: auto;
	}

}



